---
import Top from "../components/Top.astro";
import VHUK from "../components/VHUK.astro";
import Repair from "../components/Repair.astro";
import Statistik from "../components/Statistik.astro";
import Frame from "../layout/Frame.astro";
import Scroll from "../components/Scroll.astro";
---

<Frame pageTitle="ITMV - Home">
  <h1>Astro</h1>
<<<<<<< HEAD
  <Scroll />
=======
  <Top />
>>>>>>> f575e7f121d118969cd8d20a0acea9e92e6d0137
  <VHUK />
  <Statistik />
  <Repair />
</Frame>
