---
import Top from "../components/Top.astro";
import VHUK from "../components/VHUK.astro";
import Repair from "../components/Repair.astro";
import Statistik from "../components/Statistik.astro";
import Frame from "../layout/Frame.astro";
import Scroll from "../components/Scroll.astro";
import Story from "../components/Story.astro";
---

<Frame pageTitle="ITMV - Home">
  <h1>Astro</h1>
  <Scroll />
  <Top />
  <VHUK />
  <Statistik />
  <Story />
  <Repair />

  <footer>
    <img id="logo" src="/public/img/ITMVlogo.png" alt="logo">
    <div id="mid1">
      <div id="midholder1">

        <p>Find os</p>
  
      <div>
        <h2>Værkstedet i Lundtoftegade</h2>
        <p>Lundtoftegade 23, 1 sal 2200 København N</p>
      </div>
      
      <div>
        <h2>Værkstedet i Farum Midtpunkt</h2>
        <p>Nygardterasserne 213A
          3520 Farum</p>
      </div>
    </div>
    <div>
      <p>Kontakt os</p>
      <p><span>Mail:</span> itmv@itmv.dk</p>
      <p><span>Telefon:</span> 60877307</p>
      <p><span>CVR:</span> 34449686</p>
    </div>
    

   

   </div>
   <div>
   
   </div>

  </footer>
  <style>
    footer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #C0C4B6;
      padding: 100px;
      margin-top: 5%;
    }
    #logo{
      width: 200px;
      padding-left: 50px;
      padding-top: 20px;
      
    }
    #midholder1{
      
    }
    #mid1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;


    
    }
  </style>
</Frame>
