<div class="history">
  <div class="box">
    <h2>Vores historie</h2>
    <p>
      I Tråd Med Verden har været rundt omkring. I 2010 startede vi op i Ishøj,
      som et integrationsprojekt i samarbejde med KEA og Røde Kors.
    </p>
    <p>
      Siden blev det videreført som en boligsocial indsat i Ishøj og Rødovre.
    </p>
  </div>
</div>

<style>
  .history {
    padding: 20px;
    margin: 20px 0;
  }
  .box {
    padding: 20px;
    color: #3d5c6d;
    max-width: 55ch;
    margin: auto;
  }

  h2 {
    font-size: 96px;
    font-weight: lighter;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    margin-bottom: 10px;
  }
</style>
