<div class="box">
    <h2>Vores historie</h2>
    <p>
      I Tråd Med Verden har været rundt omkring. I 2010 startede vi op i Ishøj, som
      et integrationsprojekt i samarbejde med KEA og Røde Kors.
    </p>
    <p>Siden blev det videreført som en boligsocial indsat i Ishøj og Rødovre.</p>
</div>

<style>
    .box {
        background-color: #f9f9f9;
        padding: 20px;
        margin: 20px 0;
    }
    
    h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 1em;
        margin-bottom: 10px;
    }
</style>
