<h1>Repair service</h1>
<button class="footer-button">Donér her</button>
<button class="footer-button">Kontakt os</button>
<style>
  .footer-button {
    font-size: 16px;
    font-weight: bold;
    background-color: #c0c4b6;
    color: #3d5c6d;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
  }

  .footer-button:hover {
    background-color: #d8c2b5;
    color: #3d5c6d;
  }
</style>
