<h1>Repair service</h1>

<h2>
  Vidste du at, I Tråd Med Verden tilbyder repair service på din arbejdsplads?
</h2>

<div class="repair_grid">
  <p class="boks2">
    Hvorfor? <br /> Gør genanvendelse let og tilgængeligt for dine medarbejdere.
    Styrk din virksomheds E (environmental) & S (social) i jeres ESG mål. Støt ITMVs
    arbejde med at skabe flere lønnede timer til vores syersker.
  </p>
  <p class="boks2">
    Hvad? <br /> Vi tilbyder reparation, tilpasning og fornyelse af tøj til din virksomheds
    medarbejdere. Vores team består af to syerske og en designer. De vil sidde klar
    ved symaskinerne, til at hjælpe jer med at forlænge levetiden på tøjet. Vi tilbyder
    bl.a. oplægning, reparation af lynlås og huller samt broderi m.m.
  </p>
  <p class="boks2">
    Hvor? <br /> Vi kommer ud til din virksomhed med vores repair service (Københavnsområdet,
    tilgængeligt med offentlig transport)
  </p>
  <p class="boks2">
    Hvornår? <br /> Sammen aftaler vi en fast dag, f.eks. hver anden uge, en gang
    om måneden. Der vil være drop in og aflevering af tøjet om morgenen. Vi bestræber
    os på at blive færdige med dagens reparationer samme dag. Men det kan variere,
    afhængig af opgaven.
  </p>
</div>
<h2>Har du lyst til at støtte I Tråd Med Verden?</h2>
<div class="button-container">
  <button class="button">Giv et bidrag</button>
  <button class="button">Kontakt os</button>
</div>
<style>
  .button-container {
    display: flex;
    justify-content: center;
  }
  .button {
    font-size: 20px;
    font-weight: bold;
    background-color: #c0c4b6;
    color: #3d5c6d;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    margin-top: 5px;
  }
  .button:hover {
    background-color: #d8c2b5;
    color: #3d5c6d;
  }

  h1 {
    color: #3d5c6d;
    font-weight: lighter;
    font-size: 96px;
    margin-left: 50px;
  }

  h2 {
    color: #3d5c6d;
    font-weight: lighter;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
  }

  p {
    line-height: 150%;
    font-size: 18px;
    max-width: 60ch;
    color: #3d5c6d;
  }

  .repair_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .boks2 {
    background-color: #eadfdc;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
</style>
