<h1>Statistik</h1>
<p>
  I forhold til tidligere år har syerskerne arbejdet markant mere og ITMV har
  fået skabet reelle deltidsjobs på værkstederne. Målt i løntimer har vi givet
  5625 løntimer til målgruppen i 2023 mod det halve sidste år, hvor det lå på
  2805 timer – en stigning på over 100%
</p>

<p>
  Resultaterne fra praktikantundersøgelsen indikerer en generel positiv
  oplevelse blandt deltagerne. De fleste praktikanter har givet udtryk for
  tilfredshed med deres praktikforløb og rapporterer om værdifulde erfaringer og
  læring. Mange har også haft glæde af den strukturerede hverdag og muligheden
  for at lære nye færdigheder og forbedre deres selvtillid.
</p>

<style>
  h1 {
    color: #3d5c6d;
    font-weight: lighter;
    font-size: 96px;
    max-width: 15ch;
    margin-left: 25px;
  }

  p {
    font-size: 18px;
    color: #3d5c6d;
  }
</style>
