<div class="holder">
  <h1 class="overskrift">
    HER KAN DU SE HVAD OLENA OG IRA SYNDES OM AT ARBEJDE I ITMV
  </h1>

  <div id="infoholder">
    <div>
      <h1>Mød Olena</h1>
      <img class="person" src="/img/ITMVo.png" alt="" />
    </div>
    <div>
      <h1>Mød Ira</h1>
      <img class="person" src="/img/ITMVi.png" alt="" />
    </div>
  </div>
</div>
<style>
  .holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #infoholder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .person {
    width: 500px;
  }
  .overskrift {
    width: 500px;
    font-size: 80px;
    padding-left: 300px;
  }
</style>
