<div class="grid_1-1"><h1>Vi Hjælper Udsatte Kvinder</h1>
    <img src="" alt="">
<p>
  Siden 2018 har vi været registreret som en socialøkonomisk virksomhed, der
  beskæftiger udsatte kvinder i Danmark. Vi bidrager til et rummeligt
  arbejdsmarked ved at ansætte kvinder i ordinær beskæftigelse med fokus på
  kvindernes kompetencer og ressourcer, som skal sættes i spil på det danske
  arbejdsmarked. Vi tror på, at mennesker bliver gladere og stærkere af at
  arbejde med noget de brænder for. Desuden ønsker vi at bidrage til den grønne
  omstilling ved at skabe en cirkulær produktion, hvor kasserede tekstiler kan
  få nyt liv i stedet for at ende på forbrændingen.
</p>
</div>
<style>
    .grid_1-1{
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        grid-template-rows: 1fr 1fr;
    }
    h1{
        color: #3D5C6D;
        font-weight: lighter;
        font-size: 96px;
        max-width: 15ch;
        grid-column: span 2;
        margin-left: 25px;
    }
    img{
        max-width: 492.71px;
        height: auto;
        grid-column: 1/2;
    grid-row: 2/3;
    }
    p{
        line-height: 150%;
        font-size: 18px;
        max-width: 60ch;
        color: #3D5C6D;
        grid-column: span 2;
        grid-row: 2/3;
    }
</style>