---
const { pageTitle } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle}</title>
</head>
<html lang="en">
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="/">
            <img src="/img/ITMVlogo.png" alt="Astro Logo" />
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">Om os</a></li>
            <li><a href="#">Samarbejde</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <img id="logo" src="/img/ITMVlogo.png" alt="logo" />
      <div id="mid1">
        <div id="midholder1">
          <p>Find os</p>

          <div>
            <h2>Værkstedet i Lundtoftegade</h2>
            <p>Lundtoftegade 23, 1 sal 2200 København N</p>
          </div>

          <div>
            <h2>Værkstedet i Farum Midtpunkt</h2>
            <p>Nygardterasserne 213A 3520 Farum</p>
          </div>
        </div>
        <div>
          <p>Kontakt os</p>
          <p><span>Mail:</span> itmv@itmv.dk</p>
          <p><span>Telefon:</span> 60877307</p>
          <p><span>CVR:</span> 34449686</p>
        </div>
      </div>
      <div></div>
    </footer>
  </body>
</html>

<style>
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #c0c4b6;
    padding: 100px;
    margin-top: 5%;
  }
  #logo {
    width: 200px;
    padding-left: 50px;
    padding-top: 20px;
  }
  #midholder1 {
  }
  #mid1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo img {
    height: 50px; /* Adjust the height as needed */
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-left: 20px;
    text-decoration: none;
  }
  nav ul li a{
    text-decoration: none;
    color: #3D5C6D;
  }
  nav ul li a:hover{
    text-decoration: underline;
    color: #324d5b;
  }

  nav ul li:first-child {
    margin-left: 0;
  }
</style>
